<label> Documentos</label>
<mat-tab-group animationDuration="0ms" disableRipple>
  <mat-tab label="Todos"> <app-document-list value="todos"></app-document-list> </mat-tab>
  <mat-tab label="Nuevos"> <app-document-list value="Nuevos"></app-document-list> </mat-tab>
  <mat-tab label="En Proceso"> <app-document-list value="En proceso"></app-document-list> </mat-tab>
  <mat-tab label="Firmado"> <app-document-list value="Firmado"></app-document-list> </mat-tab>
  <mat-tab label="Por Firmar"> <app-document-list value="Por firmar"></app-document-list> </mat-tab>
</mat-tab-group>
  