<mat-toolbar style="justify-content: space-between; background-color: #1d2c68;">
    <span>Interfactura</span>
    <span style="float: right;"> hi</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" style="width: 20%;background-color: #f3f5f7;">
    <div class="column" >
      <div class ="row" style="padding-left: 30%;">
          <label>Inicio</label>
      </div>
      <div class ="row" style="padding-left: 20%;">
          <label>Documentos</label>
      </div>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>

</mat-sidenav-container>
